@import 'src/components/Section/Section.css';
@import 'src/components/Entity/Entity.css';

:root {
    --entity-text: var(--color-text);
    --entity-background: #2e3136;
    
    --entity-focused-text: var(--color-text-bright);
    --entity-focused-background: #454c57;

    --entity-active-text: #f2e27d;
    --entity-active-background: #837418;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    font-size : 1em;
    outline: none;
    font-family: inherit;
}