@import 'src/components/Section/Section.css';
@import 'src/components/UIEntity/UIEntity.css';
@import 'src/components/Toggle/Toggle.css';

:root {
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: inherit;
    font-size : 1em;
    outline: none;
    font-family: inherit;
}