.ha-entity {
    --entity-background: #2e3136;
    --entity-text: var(--color-text);

    --entity-focused-text: var(--color-text-bright);
    --entity-focused-background: #454c57;

    --entity-active-text: #f2e27d;
    --entity-active-background: #837418;
}

.ha-entity {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 25px;
    background-color: var(--entity-background);
    color: var(--entity-text);
    padding: 5px 13px 5px 10px;
    transition: all ease-in-out 200ms;
}

.ha-entity.ha-focused {
    color: var(--entity-focused-text);
    background-color: var(--entity-focused-background);
}

.ha-entity.ha-active {
    color: var(--entity-active-text);
    background-color: var(--entity-active-background);
}

.ha-entity.ha-focused.ha-active {
    color: #fff;
    background-color: #c6a726;
}