.ha-entity.ha-toggle {
    padding: 0;
}

.ha-entity.ha-toggle > button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5px;  
    padding: 5px 13px 5px 10px;
}

.ha-entity.ha-toggle > button > .ha-toggle-icon {
    width: 20%;
    text-align: center;
}

.ha-entity.ha-toggle > button > .ha-toggle-info {
    font-size: 14px;
    font-weight: 700;
    text-align: left;;
}

.ha-entity.ha-toggle.sunlight {
    --entity-active-text: #504d3d;
    --entity-active-background: #c8b248;
}